/*Estislo generales.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(180deg, #0f1a2b, #140f07);
    color: #f2f2f2;
    line-height: 1.6;
}

/*Estilos de la barra de navegacion.*/
#head{
    background-color: rgba(23, 42, 77, 0.9);
    padding: 0.8rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

#head nav{
    display: flex;
    gap: 1.5rem;
}

#head a{
    text-decoration: none;
    color: #eaeaea;
    font-weight: 500;
    transition: color 0.3s ease;
}

#head a:hover{
    color: #9bc9ff;
}

/*Contenido global*/

#global-content{
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

/*Seccion de inicio.*/
#inicio{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#inicio h1{
    font-size: 2.6rem;
    letter-spacing: 2px;
}

#inicio p{
    font-size: 1.6rem;
    opacity: 0.85;
    margin-top: 0.5rem;
}

/*Sinopsis*/
#sinopsis{
    margin: 3rem auto;
    padding: 2rem;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.4);
}

#sinopsis h2{
    margin-bottom: 1rem;
    text-align: center;
}

#sinopsis p{
    margin-bottom: 1rem;
    font-size: 1.05rem;
    text-align: justify;
}

/*Personajes*/
#personajes{
    margin-top: 4rem;
}

#personajes h2{
    text-align: center;
    margin-left: 2rem;
    margin: 2rem;
}

/*Grid para los personajes*/
.character-cotent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

/*Tarjetas*/
.character-card{
    background-color: rgba(255, 255, 455, 0.06);
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.character-card img{
    width: 20rem;
}

.character-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

.character-card h3{
    margin-bottom: 0.5rem;
    color: #9bc9ff;
}

.character-card p{
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

/*Carrusel de imagenes*/